# SCM syntax highlighting & preventing 3-way merges
pixi.lock merge=binary linguist-language=YAML linguist-generated=true

# Force LF line endings for shell scripts (Cygwin bash breaks on CRLF)
*.sh text eol=lf
